h1, h2, p {
  position: relative;
  left: 20pc;
  width: calc(100vw - 22pc);
  text-align:center;
}

table {
  position:fixed;
  top: 5px;
  float:left;
  width: 20pc;
  table-layout: fixed;
  border-spacing: 10px;
}

td {
  font-size: 20pt;
  padding: 10px;
  border: rgb(53, 42, 53);
  text-align: center;
  background-color: rgba(145, 145, 145, 0.35);
}